<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internetzugriff für Firestore -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UmlLernApp">
        <!-- Aktivitäten der App -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
<!-- Admin-Seite (ohne Launcher) -->
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <!-- Fragen-Seite (ohne Launcher) -->
        <activity
            android:name=".QuestionsAdminActivity"
            android:exported="false" />
        <!-- Unitliste (ohne Launcher) -->
        <activity
            android:name=".UnitActivity"
            android:exported="false" />
        <!-- Detailseite für eine Lerneinheit (ohne Launcher) -->
        <activity
            android:name=".NotesActivity"
            android:exported="false" />
        <!-- Fehlerliste (ohne Launcher) -->
        <activity
            android:name=".ErrorListActivity"
            android:exported="false" />

        <!-- Kursliste (ohne Launcher) -->
        <activity
            android:name=".CourseActivity"
            android:exported="false" />


        <!-- Registrierungsseite (ohne Launcher) -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <!-- Startseite (ohne Launcher) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <!-- Hauptseite (ohne Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <!-- Detailseite (ohne Launcher) -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />
        <!--onboarding2 -Activity (ohne Launcher) -->
        <activity
            android:name=".OnboardingStep2Activity"
            android:exported="false" />
        <!-- Login-Activity (ohne Launcher) -->
<!-- quiz activity (ohne Launcher) -->
       <activity
            android:name=".QuizActivity"
            android:exported="false" />



        <!-- Start-Activity der App -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
